$title-blue : #0078ff;
$border : #e2e2e2;
$hover-border: #fe8b88;
$hover-bg:#fff9e3;
$append : #999;
$cheapest :#ff8e26;
@mixin bg-grey-info{
	background-color: #eaedf2;
    color: #666;
    border-bottom : 1px solid $border;
}
@mixin hover {
    border: 1px solid $hover-border;
    background: $hover-bg
}
$td-width : 88px;
$show1 : 100%;
$show2 : 50%;
$show3 :33.33%;
$show4 : 25%;


.flex{
    display: flex;
}
.title{
    width: 100% ;
    margin-bottom: 2px;
    margin-top:10px;
    h2{
        text-align: center;
        color: $title-blue;
        margin-bottom: 20px;
    }
    .bar{
        width: 100%;
        height: 33px;
        text-align: right;
        color: $title-blue;
    } 
}

.frzTable{
    width: 100%;
}

.date{
     height:100%;
    // border-right: 1px solid $border;
    // border-left: 1px solid $border; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: $td-width;
   span{
        display: block;
        text-align: center;
        padding: 0 3px;
        
   }
   span:nth-child(2){
        text-align: left;
 }
}

tr:first-child .date span:first-child{
  text-align: right;
}


table{
    width: 100%;
    tr{
        height:auto;
    }
     td{
        padding: 0;
        font-size: 14px;
        overflow: hidden;
    }        
    td:first-child{
        width: $td-width;
        max-height: 50px;
        border-right: 1px solid $border;
        border-left: 1px solid $border;   
        vertical-align: middle;
        div{
            height: 50px;
            @include bg-grey-info;
        }
    }
    td:nth-child(2){
        width: calc(100% - 88px);
        position: relative;
        overflow: hidden;
        height: 50px;
        color: #666;
        // border-bottom : 1px solid $border;
    }
    td.interchange{
    background-color:#f1f1f1;
}
}
// @media screen and (min-width: 768px){
//     .slide div{
//         width: calc(100% /7); 
//     // position: relative; 
//     }
// }

.slide{
    position: absolute; 
    left:0;
    width: 100%;
    height: 100%;
    top: 0;
    transition: left 0;
    @media screen and (min-width: 768px){
    position: static;
    }
    div {
        border-right: 1px solid $border;
        height: 50px;
        display: flex;
        justify-content: center; 
        position: relative; 
        flex-direction: column;
        border-bottom : 1px solid $border;
        @media screen and (min-width: 768px){
        min-width: calc(100% /7); 
       
        }
        >span{
            align-self: center;
            pointer-events: none;
            >span{
                color:$append; 
            } 
        }
        &:hover{
            @include hover;
        }
    }
    div.cheapest:after {
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        top: -1px;
        left: 0;
        border-top: 10px solid $cheapest;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid $cheapest;
    }
    div.cheapest:before{
        content: "\6700\4FBF\5B9C";
        position: absolute;
        top: 2px;
        left: 20px;
        color: #ff8e26;
        font-size: 12px;
    }
    .interchange{
        background-color:#f1f1f1;
    }    
    /* RWD各種版面 */
    .show1{
        min-width:100%;
        @media screen and (min-width: 768px){
            min-width: calc(100% /7); 
            }
    }
    .show2{
        min-width:50%;
        @media screen and (min-width: 768px){
            min-width: calc(100% /7); 
            }
    }
    .show3{
        min-width: 33.33%;
        @media screen and (min-width: 768px){
            min-width: calc(100% /7); 
            }
    }
    .show4{
        min-width: 25%;
        @media screen and (min-width: 768px){
            min-width: calc(100% /7); 
            }
    }
    .show1-slide1{
        @for $i from 1 through 6 {
            &-#{$i} { left: - $i*$show1; }
          }
    }
    &.show2-slide1{
        @for $i from 1 through 6 {
            &-#{$i} { left: - $i*$show2; }
          }
    }      
    &.show2-slide2{
        @for $i from 1 through 6 {
            &-#{$i} { left: - $i*$show2; }
          }
    } 
            
    &.show3-slide1{
        @for $i from 1 through 6 {
            &-#{$i} { left: - $i*$show3; }
          }
        }
    &.show3-slide2{
        @for $i from 1 through 6 {
            &-#{$i} { left: - $i*$show3; }
          }
        }
    &.show3-slide3{
        @for $i from 1 through 6 {
            &-#{$i} { left: - $i*$show3; }
          }
        } 
    
    &.show4-slide1{
        @for $i from 1 through 6 {
            &-#{$i} { left: - $i*$show4; }
          }
        }
    &.show4-slide2{
        @for $i from 1 through 6 {
            &-#{$i} { left: - $i*$show4; }
          }
        }
    &.show4-slide3{
        @for $i from 1 through 6 {
            &-#{$i} { left: - $i*$show4; }
          }
        }
    &.show4-slide4{
        @for $i from 1 through 6 {
            &-#{$i} { left: - $i*$show4; }
          }
        }
}


.goDate{
    position: relative;
    .slide div{
        // border-bottom : 1px solid $border;  
         &.hover{
           @include hover;
         }
         &:hover{
           @include hover;
           cursor: pointer;
         }
    }
}


.newYear:before{
    content: "2018";
    display: block;
    font-size: 12px;
    color: #24a07c;
    text-align: right;
    width: 64%;
    height: 20px;
    align-self: center;
}

.goDate{
    .arrow{
        cursor: pointer;
        display: block;
        padding: 13px 3px;
        line-height: 1;
        background: hsla(0,0%,67%,.5);
        position: absolute;
        top: 50%;
        margin-top : 5px;
        z-index: 1;
        color: #fff;
        width: 20px;
        text-align: center;
        @media screen and (min-width: 768px){
            display: none;
            }
    }
    .arrow.left{
            left:89px;
    }
    .arrow.right{
        right: 0px;
    }
    .arrow>i {
        display: block;
        font-size: 14px;
        @media screen and (min-width: 768px){
        display: none;
        }
    }
    .arrow.disable{
        display: none;
    }  
    }
    
    
  










  
